#CoverPanel
  .SignPanel.signup
    i.fa.fa-close.fa-2x.close
    img(src="/images/yiyun_logo2.png")
    p 注册会员
    .signText.signup
      p +86
      .text-hr
      input.text(type='text', placeholder="手机号")
    .checkbox
      input.text(type='checkbox', checked)
      p 我已阅读并接受
      a 用户协议
    .signbtn 注册
    .panel-hr
      hr
      a 其他方式注册
      hr
    .Switch 已有帐号？
      a 登录到艺云
  .SignPanel.signin
    i.fa.fa-close.fa-2x.close
    img(src="/images/yiyun_logo2.png")
    p 登录帐号
    .signText
      input.text(type='text', placeholder="请输入手机号或邮箱")
    .signText
      input.text(type='password', placeholder="密码")
    .checkbox
      input.text(type='checkbox', checked)
      p 保存密码
      a.relative 忘记密码
    .signbtn 登录
    .panel-hr
      hr
      a 其他方式登录
      hr
    .Switch 没有帐号？
      a 点击注册